body {
    color: rgb(235, 21, 203);
    text-align: center;
    font-family: "roboto";
}


#cabecera {
    color: green;
    border:black 1px solid;
    padding: 200px

}
#blog{
    border:black 1px solid;
    padding: 50px;
    border: 200 solid yellow;
}
